.menuContainer {
  left: 0;
  height: 95vh;
  color: white;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  /* top: 0; */
  z-index: 2000;
  margin-top: -70px;
}

.menuDiv {
  width: 229px;
  height: 94%;
  background-color: #185177;
  padding: 24px 0px 120px 0px;
  display: flex;
  flex-direction: column;
}

.menuItem {
  padding: 0px 40px 0px 40px;
  cursor: pointer;
  position: relative;
  height: 46px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
}

.menuItem:hover {
  color: rgb(134, 196, 229);
}

.menuItem.active {
  background-color: white;
  color: #185177;
}

.subMenuItem.active2 {
  background-color: white;
}

.backIcon {
  width: 14px;
  padding: 23px 22px 12px 26px;
}

.forwardIcon {
  width: 14px;
  padding: 23px 2px 12px 6px;
}

.buttonHideSubmenu {
  background: none;
  border: none;
  margin-top: -3px;
  margin-bottom: -12px;
  margin-left: 248px;
  cursor: pointer;
}

.buttonShowSubmenu {
  background: none;
  border: none;
  margin-top: -3px;
  margin-bottom: -12px;
  cursor: pointer;
}

.EGALogo {
  width: 140px;
  padding: 24px 29.5px 0px 29.5px;
}

@media (max-width: 816px) {
  .EGALogo {
    padding: 60px 0px 0px 0px;
  }
}

.subMenuContainer {
  width: 313px;
  height: 100%;
  background-color: #e5ecf3;
  margin-top: 94px;
  margin-right: -33px;
}

.subMenuContainerNoExpanded {
  width: 33px;
  height: 100%;
  background-color: #e5ecf3;
  margin-top: 94px;
  margin-right: -33px;
}

.subMenu {
  background-color: #e5ecf3;
  width: 100%;
  margin-top: 16px;
}

.subMenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
  cursor: pointer;
  background-color: #e5ecf3;
  color: #4a88b1;
  border: none;
  width: 100%;
  text-align: left;
  height: 46px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  font-family: inherit;
}

.subMenuItem:hover {
  background-color: white;
}

.subMenuItem.active {
  color: #185177;
}

.subMenuItem.active2 {
  color: #185177 !important;
}

.nestedSubMenu {
  background-color: #e5ecf3;
}

.nestedSubMenuItem {
  cursor: pointer;
  color: #185177;
  height: 16px;
  padding: 8px 24px 8px 76px;
  font-family: inherit;
  font-size: 14px;
  background-color: red;
}

.nestedSubMenuItem:hover {
  background-color: white;
}

.menuItem.active {
  background-color: #e5ecf3;
  color: #185177;
}

.nestedSubMenuItem.active {
  background-color: white;
  color: #185177;
}

.arrowIcon {
  width: 10px;
}

/* Media Query for Screens Less Than 1223px Wide */
@media (max-width: 1223px) {
  .menuContainer {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 0;
    height: auto;
    z-index: 999; /* Ensure it is below searchResults but above background */
    position: relative;
  }

  /* Optional: Disable pointer events for the overlapping search results area */
  .menuContainer .overlappingSearchResults {
    pointer-events: none; /* This ensures the menu can be clicked when search results are displayed */
  }

  .menuDiv {
    margin-top: 22px;
    width: 100%;
    height: 75px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
  }

  .menuItem {
    padding: 10px;
    width: auto;
    height: auto;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
  }

  .subMenuContainer,
  .subMenuContainerNoExpanded {
    width: 100%;
    margin-top: 0;
    background-color: #e5ecf3;
  }

  .subMenu {
    background-color: #e5ecf3;
    width: 100%;
  }

  .subMenuItem {
    padding: 10px 20px;
    width: 100%;
  }

  .nestedSubMenuItem {
    padding-left: 20px;
  }

  .buttonHideSubmenu,
  .buttonShowSubmenu {
    display: none;
  }

  .landingPage {
    padding-left: 125px;
    height: 100vw;
    width: fit-content !important ;
    margin-right: 125px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
  }

  .codeSnippet pre {
    border: 1px solid #e2e4e5;
    padding: 12px;
    background-color: #f8f8f8;
    font-family: menlo;
    font-size: 14px;
    border-radius: 8px;
    width: 90% !important;
    text-wrap: wrap;
    display: flex;
    padding-right: 0px;
    /* align-items: center; */
    justify-content: space-between;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 20px;
  }
  .note {
    align-items: flex-start;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #f0f7ff;
    font-family: menlo;
    font-size: 14px;
    width: 90% !important;
    border-radius: 8px;
    justify-content: flex-start;
    display: flex;
  }
}

@media (max-width: 500px) {
  .landingPage {
    padding-left: 20px;
    height: 100vw;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin-right: 0px;
  }

  .subMenu {
    background-color: #e5ecf3;
    width: 100%;
    margin-top: 167px;
  }
  .menuDiv {
    margin-top: 37px;
    width: 100%;
    height: 109px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    position: fixed;
  }
}
