.conversionContainer {
  padding-left: 74px;
  padding-right: 16px;
  width: 75%; /* Ensure full width within the parent container */
  max-width: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.conversionContainer ul p {
  margin-bottom: 0;
  margin-top: 8px;
}

@media (max-width: 800px) {
  .conversionContainer {
    padding-left: 74px;
    padding-right: 16px;
    width: 100%; /* Ensure full width within the parent container */
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 500px) {
  .conversionContainer {
    padding-left: 40px;
    padding-right: 16px;
    width: 100%; /* Ensure full width within the parent container */
    max-width: 100%;
    box-sizing: border-box;
  }
}
