.appContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}

.contentContainer {
  margin-top: 56px;
}

.contentContainer,
.appContainer {
  overflow: visible !important;
}

/* Large screens (1224px and above) */
@media (min-width: 1224px) {
  .contentContainer.withSubmenuOpen {
    margin-left: 400px;
  }

  .contentContainer.withSubmenuClosed {
    margin-left: 280px;
    margin-right: 100px;
  }
}

/* Medium screens (1223px and below) */
@media (max-width: 1223px) {
  .contentContainer {
    margin-left: 100px;
  }
}

/* Small screens (816px and below) */
@media (max-width: 816px) {
  .contentContainer {
    margin-left: 0px;
  }
  /* .contentContainer.withSubmenuClosed {
    margin-left: 20px;
  } */
}
