html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.appContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;
}

.contentContainer {
  transition: margin-left 0.3s ease;
  margin-top: 56px;
}

/* When screen is larger than 1223px */
@media (min-width: 1224px) {
  .contentContainer.withSubmenuOpen {
    margin-left: 500px; /* Add margin for when the submenu is open */
  }

  .contentContainer.withSubmenuClosed {
    margin-left: 280px; /* Add margin for when the submenu is closed */
  }
}

/* For smaller screens, remove margin */
@media (max-width: 1223px) {
  .contentContainer {
    margin-left: 0; /* No margin on smaller screens */
  }
}
