body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 14px;
}

p {
  margin-top: 26px;
  margin-bottom: 26px;
  line-height: 25px;
  font-size: 14px;
}

li {
  margin-top: 10px;
  font-size: 14px;
  line-height: 19px;
}

a {
  color: #119bff;
}

h3 {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h1 {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 120px;
  margin-top: -80px;
}

h5 {
  font-style: oblique;
  font-weight: 400;
  font-size: 14px;
}

h6 {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

th {
  width: 300px;
}

.codeSnippet-table {
  border: 1px solid #e2e4e5;
  padding: 16px;
  background-color: #f8f8f8;
  font-family: menlo;
  font-size: 14px;
  width: 292px;
  text-wrap: wrap;
  display: flex;
  padding-right: 0px;
  word-break: break-word;
  justify-content: space-between;
  border-radius: 8px;
}

table {
  width: 90%;
  border-collapse: separate;
  margin-bottom: 20px;
  position: relative;
  border-spacing: 0 20px;
  font-size: 14px;
}

thead th {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-weight: 500;
  font-style: oblique;
}

tbody td {
  vertical-align: top;
}

.endpoint-list li {
  margin: 10px 0;
}

button.subMenuItem:focus,
button.subMenuItem:active {
  outline: none;
  border: none;
}

p code {
  font-style: oblique;
  font-size: 14px;
  font-family: inherit;
}

li code {
  font-style: oblique;
  font-size: 14px;
  font-family: inherit;
}

.note-symbol {
  height: 15px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
}

.note span {
  display: inline-block;
  vertical-align: middle;
}

.note {
  align-items: center;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: #f0f7ff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  border-radius: 8px;
  justify-content: flex-start;
  display: flex;
}

.codeSnippet pre {
  border: 1px solid #e2e4e5;
  padding: 12px;
  background-color: #f8f8f8;
  font-family: menlo;
  font-size: 14px;
  border-radius: 8px;
  text-wrap: wrap;
  display: flex;
  padding-right: 0px;
  justify-content: space-between;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 20px;
}

.codeSnippet.codeSnippet-mongodb pre {
  padding-top: 30px;
}

.codeSnippet-mongodb ~ .note .note-symbol-custom {
  background-color: darkkhaki;
  margin-top: 50px;
}

.copySymbol-custom {
  margin-top: -18px;
}

.no-undeline {
  text-decoration: none;
  color: #4a88b1 !important;
}

.main-title {
  position: fixed;
  padding-left: 74px;
}

.contentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.contentColumn {
  flex: 1;
  min-width: 0;
  flex-shrink: 0;
}

.sidebarColumn {
  flex: 1;
  max-width: 250px;
  flex-shrink: 0;
  height: auto;
}

.onThisPageContainer {
  background: white;
  padding: 10px;
  border-left: 1px solid #ddd;
  border-top: none;
  border-right: none;
  border-bottom: none;
  font-size: 14px;
  position: fixed;
  top: 289px;
}

.onThisPageContainer.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.onThisPageTitle {
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}

.onThisPageLink {
  text-decoration: none;
  color: #185177 !important;
}
.onThisPageLink.active {
  font-weight: bold;
  color: #185177 !important;
}

.onThisPageLink:hover {
  text-decoration: underline;
}

@media (max-width: 880px) {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
  }
}
