.beaconUIConfigurationContainer {
  padding-left: 74px;
  padding-right: 16px;
  width: 75%; /* Ensure full width within the parent container */
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .beaconUIConfigurationContainer {
    padding-left: 74px;
    padding-right: 16px;
    width: 100%; /* Ensure full width within the parent container */
    max-width: 100%;
    box-sizing: border-box;
  }
}
